<!DOCTYPE html>
<b style="font-family: monospace; font-size: 14px; color: red;">##IFticket.storestatus=6##</b>
<table style="width: 100%; min-width: 60%; text-align: center; border-collapse: collapse;">
	<tr>
		<td style="
			background-color:	#607d8b;
			color:				white;
			height:				35px;
			padding:			5px;
			border-radius:		25px;
			font-family:		Calibri;
			font-size:			18px;
			text-align:			center;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); 
		">
			<table style="margin: auto;">
				<tr>
					<td><img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/checkered-raised-flag-inverted.png" width="14" height="14"></td>
					<td style="color: white; font-family: Calibri; font-size: 18px;"><b>ENCERRAMENTO DO CHAMADO</b></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div> </div>
<table style="width: 100%; min-width: 60%; text-align: center; border-collapse: collapse; border-radius: 5px;">
	<tr>
		<td	colspan="3"
			style="
			background-color:			#3796bf;
			color:						white;
			border-bottom:				0px solid white;
			height:						35px;
			padding:					5px;
			border-top-left-radius:		5px;
			border-top-right-radius:	5px;
			font-family:				Calibri;
			font-size:					18px;
			text-align:					center;
		">
			<table style="margin: auto;">
				<tr>
					<td><img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/correct-symbol-inverted.png" width="14" height="14"></td>
					<td style="color: white; font-family: Calibri; font-size: 18px; text-align: center;"><b>SOLUÇÃO DO CHAMADO</b></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr style="background-color: #6bb6d6; color: white; font-family: Calibri; font-size: 14px;">
		<th><b>Data/Hora</b></th>
		<th><b>Autor</b></th>
		<th><b>##lang.ticket.solution.type##</b></th>
	</tr>
	<tr style="background-color: #6bb6d6; color: white; font-family: Calibri; font-size: 14px;">
		<td>##ticket.solvedate##</td>
		<td>##ticket.solution.approval.author##</td>
		<td>##IFticket.solution.type## ##ticket.solution.type## ##ENDIFticket.solution.type## ##ELSEticket.solution.type## ##ENDELSEticket.solution.type##</td>
	</tr>
	<tr>
		<td colspan="3" style="padding: 8px; background-color: #9fd6ed; text-align: center;">
			<div style="text-align: left; font-family: Calibri; font-size: 15px;">##ticket.solution.description##</div>
		</td>
	</tr>
	<tr style="text-align: center;">
		<td	colspan="3"
			style="
				background-color:			#daeaf1;
				color:						#dc8600;
				height:						15px;
				padding: 					3px;
				border-bottom-left-radius:	5px;
				border-bottom-right-radius:	5px;
				font-family: 				Calibri;
				font-size: 					15px;
				text-align: 				center;
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
			">
			<b>Observação: ##lang.ticket.autoclosewarning##</b>
		</td>
	</tr>
</table>
<div> </div>
<div> </div>
<b style="font-family: monospace; font-size: 14px; color: red;">##ENDIFticket.storestatus##</b>


<b style="font-family: monospace; font-size: 14px; color: red;">##ELSEticket.storestatus##</b>
	<b style="font-family: monospace; font-size: 14px; color: red;">##IFticket.storestatus=5##</b>
		<table style="width: 100%; min-width: 60%; text-align: center; border-collapse: collapse; border-radius: 5px;">
			<tr>
				<td	colspan="3"
					style="
					background-color:			#3796bf;
					color:						white;
					border-bottom:				0px solid white;
					height:						35px;
					padding:					5px;
					border-top-left-radius:		5px;
					border-top-right-radius:	5px;
					font-family:				Calibri;
					font-size:					18px;
					text-align:					center;
				">
					<table style="margin: auto;">
						<tr>
							<td><img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/correct-symbol-inverted.png" width="14" height="14"></td>
							<td style="color: white; font-family: Calibri; font-size: 18px; text-align: center;"><b>SOLUÇÃO DO CHAMADO</b></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="background-color: #6bb6d6; color: white; font-family: Calibri; font-size: 14px;">
				<th><b>Data/Hora</b></th>
				<th><b>Autor</b></th>
				<th><b>##lang.ticket.solution.type##</b></th>
			</tr>
			<tr style="background-color: #6bb6d6; color: white; font-family: Calibri; font-size: 14px;">
				<td>##ticket.solvedate##</td>
				<td>##ticket.solution.approval.author##</td>
				<td>##IFticket.solution.type## ##ticket.solution.type## ##ENDIFticket.solution.type## ##ELSEticket.solution.type## ##ENDELSEticket.solution.type##</td>
			</tr>
			<tr>
				<td colspan="3" style="padding: 8px;  background-color: #9fd6ed; text-align: center;">
					<div style="text-align: left; font-family: Calibri; font-size: 15px;">##ticket.solution.description##</div>
				</td>
			</tr>
			<tr style="text-align: center;">
				<td	colspan="3"
					style="
						background-color:			#daeaf1;
						color:						#dc8600;
						height:						15px;
						padding: 					3px;
						border-bottom-left-radius:	5px;
						border-bottom-right-radius:	5px;
						font-family: 				Calibri;
						font-size: 					15px;
						text-align: 				center;
						box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
					">
					<b>Observação: ##lang.ticket.autoclosewarning##</b>
				</td>
			</tr>
		</table>
	<div> </div>
	<div> </div>
	<b style="font-family: monospace; font-size: 14px; color: red;">##ENDIFticket.storestatus##</b>
<b style="font-family: monospace; font-size: 14px; color: red;">##ENDELSEticket.storestatus##</b>

<b style="font-family: monospace; font-size: 14px; color: red;">##IFticket.numberoffollowups=0##</b>
<b style="font-family: monospace; font-size: 14px; color: red;">##ENDIFticket.numberoffollowups##</b>

<b style="font-family: monospace; font-size: 14px; color: red;">##ELSEticket.numberoffollowups##</b>
	<div style="font-family: Calibri; font-size: 15px; text-align: center;">
		<table style="width: 100%; min-width: 60%; text-align: center; border-collapse: collapse; border-radius: 5px;">
			<tr>
				<td style="
					background-color:			#939393;
					color:						white;
					padding:					5px;
					height:						35px;
					border-top-left-radius:		5px;
					border-top-right-radius:	5px;
					font-family:				Calibri;
					font-size:					18px;
					text-align:					center;"
				>
					<table style="margin: auto;">
						<tr>
							<td><img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/comment-black-oval-bubble-shape-inverted.png" width="14" height="14"></td>
							<td style="color: white; font-family: Calibri; font-size: 18px; text-align: center;"><b>ACOMPANHAMENTOS DO CHAMADO</b></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="text-align: center;">
				<td style="
					background-color:			#e0e0e0;
					padding:					2px;
					height:						15px;
					border-bottom-left-radius:	5px;
					border-bottom-right-radius:	5px;
					font-family:				Calibri;
					font-size:					13px;
					text-align:					center;
					box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
				">
					##lang.ticket.numberoffollowups##: ##ticket.numberoffollowups##
				</td>
			</tr>
		</table>
	</div>

	<div> </div>

	<b style="font-family: monospace; font-size: 14px; color: red;">##FOREACHfollowups##</b>
		<div style="font-family: Calibri; font-size: 15px; text-align: center;">
			<table style="width: 99%; min-width: 60%; text-align: center; border-collapse: collapse; border-radius: 5px;">
				<tr style="background-color: #939393; color: white; font-family: Calibri; font-size: 15px;">
					<td>
						<table style="margin: auto; padding: 5px;">
							<tr>
								<td><img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/time-inverted.png" width="14" height="14"></img></td>
								<td style="font-family: Calibri; font-size: 15px; color: white; text-align: center;">##followup.date##</td>
							</tr>
						</table>
					</td>
					<td>
						<table style="margin: auto; padding: 5px;">
							<tr>
								<td><img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/user-shape-inverted.png" width="14" height="14"></img></td>
								<td style="font-family: Calibri; font-size: 15px; color: white; text-align: center;">##followup.author##</td>
							</tr>
						</table>
					</td>
					<td>
						<table style="margin: auto; padding: 5px;">
							<tr>
								<td><img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/share-option-inverted.png" width="14" height="14"></img></td>
								<td style="font-family: Calibri; font-size: 15px; color: white; text-align: center;">##followup.requesttype##</td>
							</tr>
						</table>
					</td>
					<td>
						<table style="margin: auto; padding: 5px;">
							<tr>
								<td>
									##IFfollowup.isprivate=Sim##
										<img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/padlock-inverted.png" width="14" height="14"></img>
									##ENDIFfollowup.isprivate##
									##ELSEfollowup.isprivate##
										<img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/open-padlock-silhouette-inverted.png" width="14" height="14"></img>
									##ENDELSEfollowup.isprivate##
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="4"
						style="
							padding: 8px;
							background-color: #e0e0e0;
							text-align: center;
							min-height: 25px;
							border-bottom-left-radius:	5px;
							border-bottom-right-radius:	5px;
							box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
					">
						<div style="text-align: left; font-family: Calibri; font-size: 15px;">##followup.description##</div>
					</td>
				</tr>
			</table>
		</div>
		<div> </div>
		<div> </div>
	<b style="font-family: monospace; font-size: 14px; color: red;">##ENDFOREACHfollowups##</b>
<b style="font-family: monospace; font-size: 14px; color: red;">##ENDELSEticket.numberoffollowups##</b>


<b style="font-family: monospace; font-size: 14px; color: red;">##IFticket.numberoftasks=0##</b>
<b style="font-family: monospace; font-size: 14px; color: red;">##ENDIFticket.numberoftasks##</b>

<b style="font-family: monospace; font-size: 14px; color: red;">##ELSEticket.numberoftasks##</b>
	<div style="font-family: Calibri; font-size: 15px; text-align: center;">
		<table style="width: 100%; min-width: 60%; text-align: center; border-collapse: collapse; border-radius: 5px;">
			<tr>
				<td style="
					background-color:			#d4ad5e;
					color:						white;
					padding:					5px;
					height:						35px;
					border-top-left-radius:		5px;
					border-top-right-radius:	5px;
					font-family:				Calibri;
					font-size:					18px;
					text-align:					center;"
				>
					<table style="margin: auto;">
						<tr>
							<td><img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/open-wrench-tool-silhouette-inverted.png" width="14" height="14"></td>
							<td style="color: white; font-family: Calibri; font-size: 18px; text-align: center;"><b>TAREFAS DO CHAMADO</b></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="text-align: center;">
				<td style="
					background-color:			#feda90;
					padding:					2px;
					height:						15px;
					border-bottom-left-radius:	5px;
					border-bottom-right-radius:	5px;
					font-family:				Calibri;
					font-size:					13px;
					text-align:					center;
					box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
				">
					##lang.ticket.numberoftasks##: ##ticket.numberoftasks##
				</td>
			</tr>
		</table>
	</div>

	<div> </div>
	
	<b style="font-family: monospace; font-size: 14px; color: red;">##FOREACHtasks##</b>
		<div>
			<table style="width: 100%; font-family: Calibri; font-size: 15px; border-collapse: collapse;">
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.author##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.author##</td></tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.begin##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.begin##</td></tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.category##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.category##</td></tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.categorycomment##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.categorycomment##</td>
				</tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.categoryid##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.categoryid##</td>
				</tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.date##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.date##</td>
				</tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.description##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.description##</td>
				</tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.end##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.end##</td>
				</tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.group##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.group##</td>
				</tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.isprivate##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.isprivate##</td>
				</tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.status##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.status##</td>
				</tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.time##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.time##</td>
				</tr>
				<tr>
					<td style="width: 20%; background-color: #eaca88; border-bottom: 1px solid white; border-right: 1px solid white;">##lang.task.user##</td>
					<td style="width: 80%; background-color: #feda90; border-bottom: 1px solid white; border-right: 0px solid white;">##task.user##</td>
				</tr>
			</table>
		</div>
		<div> </div>
		<div> </div>
	<b style="font-family: monospace; font-size: 14px; color: red;">##ENDFOREACHtasks##</b>
<b style="font-family: monospace; font-size: 14px; color: red;">##ENDELSEticket.numberoftasks##</b>


<div style="text-align: center;">
	<table style="width: 100%; min-width: 60%; text-align: center; border-collapse: collapse; font-family: Calibri; font-size: 15px; border-radius: 5px;">
		<tr>
			<td colspan="2"
				style="
				background-color:	#6c896f;
				color:				white;
				border-bottom:		1px solid white;
				padding:			5px;
				height:						35px;
				border-top-left-radius:		5px;
				border-top-right-radius:	5px;
				font-family:		Calibri;
				font-size:			18px;
				text-align:			center;"
			>
				<table style="margin: auto;">
					<tr>
						<td><img src="https://hokensistemas.github.io/glpi/img/fontawesome/png_inverted/text-file-1-inverted.png" width="14" height="14"></td>
						<td style="color: white; font-family: Calibri; font-size: 18px; text-align: center;"><b>DADOS DO CHAMADO</b></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.id##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.id##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				URL
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.url##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.authors##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##IFticket.authors## ##ticket.authors## ##ENDIFticket.authors## ##ELSEticket.authors##--##ENDELSEticket.authors##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.creationdate##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.creationdate##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.title##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.title##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.content##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.content##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				Evento atual
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.action##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.status##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.status##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.requesttype##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.requesttype##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.location##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.location##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.assigntousers##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.assigntousers##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.assigntogroups##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.assigntogroups##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.urgency##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.urgency##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.impact##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.impact##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.priority##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.priority##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##IFlang.ticket.user.email## ##lang.ticket.user.email## ##ENDIFlang.ticket.user.email##
				##IFlang.author.email## ##lang.author.email## ##ENDIFlang.author.email##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##IFticket.user.email## ##ticket.user.email## ##ENDIFticket.user.email##
				##IFauthor.email## ##author.email## ##ENDIFauthor.email##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.type##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.type##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.category##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.category##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.item.name##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##IFticket.itemtype## ##ticket.itemtype## - ##ticket.item.name##
					##IFticket.item.model## ##lang.ticket.item.model## : ##ticket.item.model## ##ENDIFticket.item.model##
					##IFticket.item.serial## ##lang.ticket.item.serial## : ##ticket.item.serial## ##ENDIFticket.item.serial##
					##IFticket.item.otherserial## ##lang.ticket.item.otherserial## : ##ticket.item.otherserial## ##ENDIFticket.item.otherserial##
				##ENDIFticket.itemtype##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.solvedate##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.solvedate##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.solution.type##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.solution.type##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.solution.description##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.solution.description##
			</td>
		</tr>
		<tr style="border-bottom: 1px solid white;">
			<td style="background-color: #9dc6a1; color: black; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; border-right: 1px solid white; text-align: left; padding: 4px; width: 20%;">
				##lang.ticket.closedate##
			</td>
			<td style="background-color: #b2e0b6; text-align: left; font-family: Calibri; font-size: 15px; border-bottom: 1px solid white; padding: 4px; width: 80%;">
				##ticket.closedate##
			</td>
		</tr>
	</table>
</div>
<div> </div>